<body class="background-black">
<div class="panel panel-primary">
<div class="panel-heading">
<h1>About</h1>
</div>
<div class="panel-body">
<div class="citations">
<br>
TransApp is an online community that allows Translink users to express their thoughts on bus stops in Metro Vancouver. These feedbacks can help other riders and Translink identify problems such as clealiness, safety, and timeliness of buses. Users are also able to retrieve real time bus stop information and bus locations using TransApp.
<br>
<br>
TransApp was created using the following tools:
<br>
<br>
<span class="label label-info">Images</span>
<ul>
<li><a href="http://www.holidayinnvancouverdowntown.com/vancouver.php">Pre-login Page Image</li>
</ul>

<span class="label label-info">GitLab</span>
<ul>
<li><a href="https://csil-git1.cs.surrey.sfu.ca/chenganc/main_project.git">GitLab Repository</a></li>
</ul>

<span class="label label-info">Plugins and Gems</span>
<ul>
<li><a href="http://www.ajax-cross-origin.com/install.html">Ajax Cross Origin Plugin</a></li>
<li><a href="https://apneadiving.github.io">Ruby Gem for Google Maps</a></li>
</ul>

<span class="label label-info">APIs</span>
<ul>
<li><a href="https://developer.translink.ca">Translink API</a></li>
<li><a href="https://developers.google.com/maps/">Google Maps API</a></li>
</ul>

<span class="label label-info">Other References</span>
<ul>
<li><a href="https://www.sitepoint.com/ratyrate-add-rating-rails-app/">Ratyrate</a></li>
</ul>

</div>
</div>
</body>

