<body class="background-black">
<div class="panel panel-primary">
<div class="panel-heading">
<h1>Help</h1>
</div>
<div class="panel-body">
<div class="citations">
<br>
Q: How can I review a stop?
<br>
A: To review a stop, use the map on the home page or by using the search function to navigate to that bus stop's page. After you've found the stop you want to review, you can use the safety rating feature to write a review.
<br>
<br>
Q: The map on the home page is not showing stops near me, what is going on?
<br>
A: Please enable geo-location/location tracking for your browser.
<br>
<br>
Q: Why is the bus I want to see the current location of not on the drop down list?
<br>
A: The list of buses was last updated on November 25, 2016. New bus routes may have been created after that date.
<br>
<br>
Q: Why are there no Translink information available for anything?
<br>
A: TransApp was created using multiple APIs and plugins. The quotas might have been exceeded for either one of them hence nothing is showing. Please visit again in 24hours.
<br>
<br>
Q: Why is the map on the home page showing my location as somewhere completely wrong?
<br>
A: GPS coordinates are device dependent. Newer devices and devices not using a wired connection may produce a more accurate location.
</div>
</div>
</body>