<body class="background-black">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1>Editing Micropost</h1>
        </div>
        <div class="panel-body">
            <%= render 'form', micropost: @micropost %>
            <%= link_to 'Cancel', @micropost %>
        </div>
    </div>
</body>
