<body class="background-black">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1>Editing review</h1>
        </div>
    <div class="panel-body">
        <%= render 'form' %>
            <div class="center">
                <%= link_to "Back", bus_stop_path(@bus_stop) %>
            </div>
        </div>
    </div>
</body>
